input/*
!input/.gitkeep
negative_test/*
!negative_test/.gitkeep
test/*
!test/.gitkeep
train_negative/*
!train_negative/.gitkeep
train_positive/*
!train_positive/.gitkeep
plugin/qq/nailong/*
!plugin/qq/nailong/.gitkeep
plugin/qq/notnailong/*
!plugin/qq/notnailong/.gitkeep
releases/*
flagged/*
gradio_fake.py
graddddddddddddddio.py
plugin/qq/go.py
plugin/qq/nailong.pth
__pycache__/
plugin/tg/.env
plugin/qq/flagged/*
